<!DOCTYPE html>
<html lang="pl-PL">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>Strona główna</title>
    <link rel="Stylesheet" href="/css/style.css">
    <link rel="Stylesheet" href="/css/fontello/css/fontello.css">
    <style>
        .content
        {
            width: 748px;
        }
        .page
        {
            width: 710px;
        }
    </style>

</head>
<body>
<div class="container">
    <header>
        <h1 class="logo">System do treningów indywidualnych</h1>
        <h2 class="header">Zalogowany jako: {{who}}</h2>
        <nav>
            <div class="nav">
                <ol>
                    <li><a href="/../api/osoba/t_strona_glowna"><h6>Strona główna</h6></a></li>
                    <li><a href="#">Treningi</a>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/t_ranking_grupowy">Grupowe</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/t_ranking_indywidualny">Indywidualne</a></li>
                        </ul>
                    </li>
                    <li><a href="/../api/cwiczenia/t_dodaj_cwiczenie">Dodaj ćwiczenie</a></li>
                    <li><a href="#">Zleć ćwiczenie</a>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/t_zlec_cwiczenie_grupa">Grupowe</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/t_zlec_cwiczenie_indywidualne">Indywidualne</a></li>
                        </ul>
                    </li>
                    <li><a href="/../api/trening_klasyczny/t_lista_obecnosci_wybor">Lista obecności</a></li>
                    <li><a href="/../api/cwiczenia/t_lista_cwiczen">Lista ćwiczeń</a></li>
                    <li><a href="/../api/feedback/t_feedback">Feedback</a></li>
                </ol>
            </div>
        </nav>
    </header>
    <div class="middle">
        <nav>
            <div class="menu">
                <header>
                    <div class="optionsTitle">
                        <i class="icon-cog-alt"></i>
                    </div>
                </header>
                <a href="/../api/osoba/t_zmiana_ksywki"><div class="option">Zmiana ksywki</div><br /></a>
                <a href="/../api/osoba/t_zmiana_email"><div class="option">Zmiana email</div><br /></a>
                <a href="/../api/osoba/t_zmiana_tel"><div class="option">Zmiana numeru tel</div><br /></a>
                <a href="/../api/osoba/t_zmiana_hasla"><div class="option">Zmiana hasła</div><br /></a>
                <a href="/../api/osoba/logout"><div class="option">Wyloguj</div></a>
            </div>
        </nav>
        <main>
            <div class="content">
                <header>
                    <div class="contentTitle">
                        <h3>Content główny</h3>
                    </div>
                </header>
                <article>
                    <div class="page">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta lectus sit amet justo dapibus, quis fringilla odio posuere. Nam ligula augue, gravida ut eros a, ultricies feugiat nulla. Praesent sodales, purus nec semper finibus, leo tellus ornare nisl, sit amet pharetra lectus ante in dolor. Nunc non ultricies risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut aliquam feugiat tincidunt. Integer pulvinar dignissim enim id finibus. Cras blandit, felis ut fringilla facilisis, turpis mauris aliquet nibh, a porttitor magna purus a sapien. Pellentesque volutpat fermentum lectus, eleifend lobortis justo vestibulum id. Nullam scelerisque maximus pharetra. Morbi eu risus id turpis feugiat iaculis sit amet nec justo.</p>

                        <p>Maecenas sollicitudin, justo et interdum suscipit, est nisl iaculis arcu, vel maximus eros eros vel nisi. Etiam viverra risus nec erat consequat auctor. Pellentesque vulputate erat at dolor porta convallis. Quisque ante nibh, tristique nec ante et, condimentum tincidunt nisi. Pellentesque ante purus, tincidunt sit amet luctus quis, lacinia eget magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin at nisi consequat, mollis diam finibus, convallis risus. In hac habitasse platea dictumst. Sed vel elementum eros. Sed varius rutrum est non malesuada. Sed lacinia ex fermentum, molestie odio id, luctus neque. Etiam id massa ut nisi viverra consequat id sit amet eros.</p>
                    </div>
                </article>
            </div>
        </main>
        <aside>
            <div class="info">
                <header>
                    <div class="infoTitle">
                        <i class="icon-info-circled"></i>
                    </div>
                </header>
                <div class="infoPage">
                    //wiadomosci (Niedostępne w wersji beta) :D
                </div>
            </div>
        </aside>
        <div style="clear: both;"></div>

    </div>
    <footer>
        <div class="footer">
            <div class="icons">
                <a href="https://www.youtube.com/?hl=pl&gl=PL" target="_blank">
                    <div class="yt"><i class="icon-youtube"></i></div>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <div class="fb"><i class="icon-facebook"></i></div>
                </a>
                <a href="https://www.google.pl/" target="_blank">
                    <div class="gmail"><i class="icon-gmail"></i></div>
                </a>
                <a href="https://www.google.pl/" target="_blank">
                    <div class="website"><i class="icon-network"></i></div>
                </a>
                <div style="clear: both;"></div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>